<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/libs/semantic/dist/semantic.min.css" rel="stylesheet"/>
    <link href="/libs/datepicker/dist/datepicker.min.css" rel="stylesheet" />
    <script src="/libs/ckeditor/ckeditor.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/libs/datepicker/dist/datepicker.min.js"></script>
    <script src="/libs/datepicker/i18n/datepicker.zh-CN.js"></script>
  </head>
  <body>
      <div id="app"></div>
  </body>
  <script src="/javascripts/react.min.js"></script>
  <script src="/javascripts/admin.js"></script>
</html>
