<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link href="/libs/semantic/dist/semantic.min.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="ui grid four column centered">
            <div class="form ui column margin top">
                <div class="field">
                    <label>用户名</label>
                    <input type="text" />
                </div>
                <div class="field">
                    <label>密码</label>
                    <input type="text" />
                </div>
                <div class="ui button fluid blue">登 陆</div>
            </div>
        </div>
    </body>
</html>
