<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/libs/semantic/dist/semantic.min.css" rel="stylesheet"/>
  </head>
  <body>
    <h1><%= title %>山东省</h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
